*{
	margin: 0;
	padding: 0;
}

::selection{
     background-color: white;
}

@font-face {
 	font-family: "InriaSerifBoldItalic";
 	src: url("InriaSerif-BoldItalic.ttf") format("truetype");
}
@font-face {
 	font-family: "InriaSerifLight";
 	src: url("InriaSerif-Light.ttf") format("truetype");
}

body{
	background-color: rgb(220, 220, 220);
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
}

#modedemploi{
	position: absolute;
	bottom: 10%;
	left: 5%;
	font-family: InriaSerifLight;
	float: left;
	font-size: 0.9em;
	opacity: 1;
}

#modedemploi::selection{
     background-color: rgb(220, 220, 220);
}

/******************************/
/**** Nodes ******************************/
/******************************/

#mySVG{
    position: absolute;
    width: 100%;
    height: 100%;
}

.node{
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: crimson;
	border-radius: 50%;
	border: 2px solid rgba(0,0,0,0);
	cursor: crosshair;
}
.centerNode{
	position: absolute;
	width: 5px;
	height: 5px;
	background-color: black;
	border-radius: 50%;
}

/******************************/
/**** Panel ******************************/
/******************************/

#panel{
	background-color: #ffffff;
	position: absolute;
	right: 30px;
	top: 3vh;
	width: 180px;
	z-index: 9999999;
}

#title{
	padding-top: 10%;
	margin-bottom: 10px;
	text-align: center;
	font-family: InriaSerifBoldItalic;
}

/******************************/
/**** Color values ******************************/
/******************************/

#colorValues{
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.valueType{
	font-family: InriaSerifLight;
	float: left;
	font-size: 0.85em;
}

#swatch{
	width: 70%;
	height: 17px;
	margin: 0 auto;
	background-color: rgb(220, 220, 220);
	border: 1px solid rgb(220, 220, 220);
	margin-bottom: 10px;
}

#hexa{
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin: 0 auto;
}
#hexaValue{
	box-sizing : border-box;
	float: right;
	width: 74%;
	margin-bottom: 10px;
}
#rgb{
	display: block;
	width: 70%;
	margin: 0 auto;
}

.rgbinputbox{
	box-sizing : border-box;
	width: 74%;
	float: right;
}

.rgbinput{
	box-sizing : border-box;
	width: 32%;
	float: left;
	margin-left: 1%;
}

input{
	border: 1px solid rgb(220, 220, 220);
	font-family: InriaSerifLight;
	font-size: 0.85em;
	padding-left: 3px;
	outline: none;
}

input:focus{
	background-color: rgba(220, 220, 220, 0.3);
	border: 1px solid rgb(200, 200, 200);
}

input::selection{
     background-color: #66FFD4;
}

/******************************/
/**** buttons ******************************/
/******************************/

button{
	width: 100%;
	height: 30px;
	margin: 0 auto;
	padding-bottom: 10px;
	padding-top: 6px;
	background-color: white;
	font-family: InriaSerifLight;
	font-size: 0.9em;
	border: none;
	border-top: 1px solid rgb(220, 220, 220);
	cursor: pointer;
	user-select:none;
	outline: none;
}

.savingON{
	background-color: rgba(0,138,74,0.5);
	transition-duration: 0.2s;
}

.savingON:hover{
	background-color: rgba(0,138,74,0.8);
	transition-duration: 0.2s;
	color: white;
}

.savingOFF{
	background-color: white;
	transition-duration: 0.2s;
}

.savingOFF:hover, .savingOFF:focus{
	background-color: #DEF4E4;
	transition-duration: 0.2s;
}

#reset:hover, #reset:focus{
	background-color: rgb(220, 220, 220);
	cursor: pointer;
	transition-duration: 0.2s;
}
#reset:active{
	background-color: #BD2E42;
	color: white;
	cursor: pointer;
	transition-duration: 0.2s;
}

button:active{
	background-color: #A3E2B0;
	cursor: pointer;
	transition-duration: 0.3s;
}

/******************************/
/**** Detail/Summary *********************/
/******************************/

details{
	display: block;
	background-color: white;
	font-family: InriaSerifLight;
	color: rgb(180, 180, 180);
	text-align: center;
	cursor: crosshair;
	list-style: none;
	border-top: 1px solid rgb(220, 220, 220);
}

details > summary{
	list-style: none;
	outline: none;
}

summary::-webkit-details-marker {
  display: none
}

summary:hover{
	list-style: none;
	color: rgba(0, 0, 0, 0.7);
}

#summary1:after, #summary2:after {
	content: "▾";
}

#details1[open] #summary1:after, #details2[open] #summary2:after {
	content: "◆";
}

#credits{
	color: black;
	padding-bottom: 10px;
	font-size: 0.9em;
}
